.App {
  text-align: center;
}
.hidden {
  display: none;
}
.spanButton {
  border: 1px solid black;
}

/*----   Notice Board   ----*/
.NoticeBoard {
  width: 50%;
  margin: auto;
  border: 2px solid black;
}
.NoticesHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px black solid;
}
.Note {
  background-color: lightgray;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}
/*----   Notice Board   ----*/

/*---- Teachers Classes ----*/
.TeachersClasses {
  width: 50%;
  margin: auto;
  border: 2px solid black;
}
.Class {
  width: 20%;
  margin: 5%;
  border-radius: 10px;
  background-color: lightgray;
}
.Class:hover {
  border: 1px solid black;
  background-color: gray;
  width: 20%;
  margin: 5%;
}
/*---- Teachers Classes ----*/

/*---- School Week ----*/
.tableDisplayByColumns tr {
  display: table-cell;
  vertical-align: top;
}
.tableDisplayByColumns tr td{
  display: block;
  border: 1px solid black;
  height: 145px;
  text-align: center;
}
.miniPeriodForum {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 145px;
}
.everydayPeriod {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 145px;
}
.errorText {
  color: red;
}