.App {
  text-align: center;
  overflow-x: hidden;
  color: var(--colorWhite);
  background-color: var(--colorGrey);
}
body {
  background-color: var(--colorGrey);
}
.colorTeal {
  color: var(--colorTeal);
}
.colorTeal:hover {
  color: var(--colorTealHover);
}
.hidden {
  display: none;
}
.spanButton {
  border: 1px solid var(--colorWhite);
}
.TextLink {
  text-decoration: underline;
  color: var(--colorTeal);
}
.mt-10 {
  margin-top: 10px;
}
.TextLink:hover {
  color: var(--colorTealHover);
  cursor: pointer;
}
.flexColum {
  display: flex;
  flex-direction: column;
}
.wd80mauto {
  width: 80%;
  margin: auto;
}
:root {
  --colorBlack: #222831;/*var(--colorBlack)*/
  --colorGrey: #393E46;/*var(--colorGrey)*/
  --colorTeal: #00ADB5;/*var(--colorTeal)*/
  --colorTealHover: #00cbd6;
  --colorWhite: #EEEEEE;/*var(--colorWhite)*/
  --colorRed: #dc3545;/*var(--colorRed)*/
  --svgFilterTeal : invert(48%) sepia(84%) saturate(630%) hue-rotate(138deg) brightness(91%) contrast(102%);
  --svgFilterTealHover : invert(62%) sepia(24%) saturate(3903%) hue-rotate(139deg) brightness(98%) contrast(101%);
}
a {
  color: var(--colorTeal);
}
a:hover {
  color: var(--colorTealHover);
}



/*---- \/ Bootstrap overwrites \/ ----*/
.dropdown-menu {
  background-color: var(--colorGrey) !important;
  color: var(--colorWhite) !important;
  border: 1px solid var(--colorWhite) !important;
}
.dropdown-item {
  color: var(--colorTeal) !important;
}
.dropdown-item:hover {
  color: var(--colorTealHover);
  background-color: var(--colorBlack) !important;
}
.nav-link {
  color: var(--colorTeal);
  text-decoration: underline;
  text-align: center;
}
.nav-link:hover {
  color: var(--colorTealHover);
}
.btn-success {
  background-color: var(--colorTeal) !important;
  border-color: var(--colorTeal) !important;
}
.btn-close {
  opacity: 1;
  filter: var(--svgFilterTeal) !important;
}
.btn-close:hover {
  opacity: 1 !important;
  filter: var(--svgFilterTealHover) !important;
}
.navbar-nav .nav-link.show {
  color: var(--colorTealHover) !important;
}
.dropdown {
  color: var(--colorTealHover) !important;
}
.input-group-text {
  font-weight: bold;
}
/*---- /\ Bootstrap overwrites /\ ----*/


/*---- Scrollbar ----*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.507);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}
/*---- Scrollbar ----*/

/*---- AdminHome ----*/
#AdminHomeSecondRow {
  width: 85%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 890px) {
  #AdminHomeSecondRow {
    flex-direction: column;
    align-items: center;
  }
  #AdminHomeSecondRow div {
    width: 85% !important;
    margin: 15px auto !important;
  }
}
/*---- AdminHome ----*/

/*----   NavBar   ----*/
.navbarCont {
  background-color: var(--colorBlack) !important;
}
.navbar-toggler {
  background-color: var(--colorTeal) !important;
}
.navbar-brand {
  color: var(--colorWhite) !important;
}
.offcanvasNav {
  background-color: var(--colorBlack) !important;
  color: var(--colorWhite);
}
.logoutLink {
  color: var(--colorRed);
  text-decoration: underline;
  cursor: pointer;
}
/*----   NavBar   ----*/

/*----   SearchBox   ----*/
.SearchBox {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
#SearchTitle {
  font-size: larger;
  font-weight: bold;
}
.radio{
  display: inline-block;
  margin: 0 10px;
}
.radioLabel{
  margin: 0 10px;
  text-align: left;
} 
/*----   SearchBox   ----*/

/*----   Login   ----*/
.loginPage {
  width: 40%;
  margin: 50px auto;
  text-align: center;
}
.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputLoginPage {
  margin: 5px;
  width: 80%;
}
.loginTitle {
  color: var(--colorWhite);
}
/*----   Login   ----*/

/*----   Notice Board   ----*/
.NoticeBoardMain {
  width: 80%;
  margin: 50px auto;
  border: 2px solid var(--colorWhite);
  height: 600px;
  border-radius: 10px;
  background-color: var(--colorBlack);
}
.NoticeBoard {
  width: 45%;
  border: 2px solid var(--colorWhite);
  height: 600px;
  border-radius: 10px;
  background-color: var(--colorBlack);
}
.NoticesHeader {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px var(--colorWhite) solid;
}
.NoticesHeader div {
  margin-top: auto;
  margin-right: 3px;
}
.NoticesHeader h1 {
  margin: 10px 0 1px 10px;
}
.Note {
  background-color: var(--colorGrey);
  border: 1px solid var(--colorWhite);
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}
.Note div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Note p {
  margin: 5px;
}
.Note div h2 {
  margin-left: 5px;
}
.Note div p {
  margin-right: 5px;
}
.ValidationMessage {
  color: var(--colorRed);
  font-weight: bold;
}
.Notices {
  height: 530px;
  overflow-x: hidden !important;
}
.NoticesMain {
  height: 530px;
  overflow-x: hidden !important;
}
@media screen and (max-width: 890px) {
  .NoticesMain {
    height: 570px;
    overflow-x: hidden !important;
  }
  .NoticeBoardMain {
    height: 700px;
  }
  .Notices {
    height: 430px;
    overflow-x: hidden !important;
  }
  .Note div {
    flex-direction: column;
  }
  .NoticesHeader {
    flex-direction: column;
    height: 120px;
  }
  .NoticesHeader h1 {
    margin: 5px 0 1px 5px;
  }
}
.CreateNotice h3 {
  margin: 5px;
}
.CreateNotice form div {
  width: 80%;
  margin: 15px auto;
}
.CreateNotice form div textarea {
  height: 200px;
}
.CreateNoticeMain h3 {
  margin: 5px;
}
.CreateNoticeMain form div {
  width: 60%;
  margin: 15px auto;
}
.CreateNoticeMain form div textarea {
  height: 200px;
}
.backButton {
  width: 25% !important; 
  margin:  15px auto !important;
}
.CreateNotice form div span {
  width: 72px;
}
.CreateNoticeMain form div span {
  width: 72px;
}
/*----   Notice Board   ----*/

/*---- AdminActions ----*/
.AdminActions {
  width: 45%;
  border: 2px solid var(--colorWhite);
  height: 600px;
  border-radius: 10px;
  background-color: var(--colorBlack);
}
#createClassTimeTable {
  margin: auto;
}
.userTypeSelect {
  width: 80%;
  margin: 15px auto;
  text-decoration: underline;
}
.actionTitle {
  margin: 125px 15px 35px 15px;
}
.newUserForm {
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}
.newClassForm {
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}
.newClassInput span{
  width: 30%;
  font-weight: bold;
}
.newUserInput {
  margin: 5px;
}
.newUserInput span{
  width: 25%;
  font-weight: bold;
}
.teacherDropdown {
  margin-top: 5px;
}
.teacherDropdown span{
  width: 30%;
  font-weight: bold;
}
.teacherDropdown select{
  width: 70%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: var(--colorWhite);
}
.mg-top-5px {
  margin-top: 5px;
}
/*---- AdminActions ----*/

/*---- Teachers Classes ----*/
.TeachersClasses {
  width: 50%;
  margin: auto;
  border: 2px solid var(--colorWhite);
}
.Class {
  width: 20%;
  margin: 5%;
  border-radius: 10px;
  background-color: lightgray;
}
.Class:hover {
  border: 1px solid var(--colorWhite);
  background-color: gray;
  width: 20%;
  margin: 5%;
}
/*---- Teachers Classes ----*/

/*---- School Week ----*/
.tableDisplayByColumns tr {
  display: table-cell;
  vertical-align: top;
}
.tableDisplayByColumns tr td{
  display: block;
  border: 1px solid var(--colorWhite);
  height: 145px;
  text-align: center;
}
.miniPeriodForum {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 145px;
}
.everydayPeriod {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 145px;
}
.errorText {
  color: var(--colorRed);
}

.formSuccess {
  color: green;
}
.validationMessage {
  color: var(--colorRed);
}
.formTimeTable {
  border: 1px solid var(--colorWhite);
}
.formTimeTable tr {
  display: table-cell;
  vertical-align: top;
  width: 100px;

}
.formTimeTable tr td{
  display: block;
  border: 1px solid var(--colorWhite);
  height: 28px;
  text-align: center;
}
.spanLink {
  text-decoration: underline;
}

/*---- Absences ----*/
.Absence {
  border: 2px var(--colorWhite) solid;
  border-radius: 10px;
  width: 85%;
  margin: 25px auto;
  height: 500px;
  background-color: var(--colorBlack);
}
.AbsencesBox {
  height: 430px;
}
.Absences {
  height: 400px;
  overflow-x: hidden !important;
}
.AbsencesHeader {
  width: 90%;
  height: 60px;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px var(--colorWhite) solid;
}
.AbsencesHeader h1{
  margin: 10px 0 1px 0;
}
.AbsencesHeader div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1px;
}
.AbsencesHeader div a{
  text-decoration: underline;
  color: var(--colorTeal);
}
.Absent {
  width: 90%;
  margin: 5px auto;
  border: 1px solid var(--colorWhite);
  border-radius: 5px;
  background-color: var(--colorGrey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.absentForm {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.AbsentLeftText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  text-align: left;
}
.WasMarked {
  align-self: center;
  margin: 0 !important;
}
.truancyDropdown {
  margin-top: 5px;
  height: 30px !important;
}
.truancyDropdown span{
  width: 30%;
  font-weight: bold;
  height: 30px !important;
}
.truancyDropdown select{
  width: 70%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: var(--colorWhite);
  height: 30px !important;
}
.absentSubmit {
  height: 30px !important;
  padding: 0;
}
#absenceValidation {
  color: var(--colorRed);
}
/* Absences */

