.App {
  text-align: center;
}

/* Notice Board */
.NoticeBoard {
  width: 50%;
  margin: auto;
  border: 2px solid black;
  
}
.NoticesHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px black solid;
}
.Note {
  background-color: lightgray;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}