.App {
  text-align: center;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.spanButton {
  border: 1px solid black;
}
.TextLink {
  text-decoration: underline;
  color: black;
}
.TextLink:hover {
  color: gray;
  cursor: pointer;
}
.flexColum {
  display: flex;
  flex-direction: column;
}

/*---- Scrollbar ----*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.507);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}
/*---- Scrollbar ----*/

/*---- AdminHome ----*/
#AdminHomeSecondRow {
  width: 85%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 890px) {
  #AdminHomeSecondRow {
    flex-direction: column;
    align-items: center;
  }
  #AdminHomeSecondRow div {
    width: 85% !important;
    margin: 15px auto !important;
  }
}
/*---- AdminHome ----*/

/*----   NavBar   ----*/

/*----   NavBar   ----*/

/*----   SearchBox   ----*/
.SearchBox {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
#SearchTitle {
  font-size: larger;
  font-weight: bold;
}
.radio{
  display: inline-block;
  margin: 0 10px;
}
.radioLabel{
  margin: 0 10px;
  text-align: left;
}
/*----   SearchBox   ----*/

/*----   Login   ----*/
/*----   Login   ----*/

/*----   Notice Board   ----*/
.NoticeBoard {
  width: 45%;
  border: 2px solid black;
  height: 600px;
  border-radius: 10px;
}
.NoticesHeader {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px black solid;
}
.NoticesHeader div {
  margin-top: auto;
  margin-right: 3px;
}
.NoticesHeader h1 {
  margin: 10px 0 1px 10px;
}
.Note {
  background-color: lightgray;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}
.Note div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Note p {
  margin: 5px;
}
.Note div h2 {
  margin-left: 5px;
}
.Note div p {
  margin-right: 5px;
}
.ValidationMessage {
  color: red;
  font-weight: bold;
}
.Notices {
  height: 530px;
  overflow-x: hidden !important;
}
@media screen and (max-width: 890px) {
  .Notices {
    height: 430px;
    overflow-x: hidden !important;
  }
  .Note div {
    flex-direction: column;
  }
  .NoticesHeader {
    flex-direction: column;
    height: 120px;
  }
  .NoticesHeader h1 {
    margin: 5px 0 1px 5px;
  }
}
.CreateNotice h3 {
  margin: 5px;
}
.CreateNotice form div {
  width: 80%;
  margin: 15px auto;
}
.CreateNotice form div textarea {
  height: 200px;
}
.backButton {
  width: 25% !important; 
  margin:  15px auto !important;
}
.CreateNotice form div span {
  width: 72px;
}
/*----   Notice Board   ----*/

/*---- AdminActions ----*/
.AdminActions {
  width: 45%;
  border: 2px solid black;
  height: 500px;
  border-radius: 10px;
}
/*---- AdminActions ----*/

/*---- Teachers Classes ----*/
.TeachersClasses {
  width: 50%;
  margin: auto;
  border: 2px solid black;
}
.Class {
  width: 20%;
  margin: 5%;
  border-radius: 10px;
  background-color: lightgray;
}
.Class:hover {
  border: 1px solid black;
  background-color: gray;
  width: 20%;
  margin: 5%;
}
/*---- Teachers Classes ----*/

/*---- School Week ----*/
.tableDisplayByColumns tr {
  display: table-cell;
  vertical-align: top;
}
.tableDisplayByColumns tr td{
  display: block;
  border: 1px solid black;
  height: 145px;
  text-align: center;
}
.miniPeriodForum {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 145px;
}
.everydayPeriod {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 145px;
}
.errorText {
  color: red;
}

.formSuccess {
  color: green;
}
.validationMessage {
  color: red;
}
.formTimeTable {
  border: 2px solid black;
}
.formTimeTable tr {
  display: table-cell;
  vertical-align: top;
  width: 100px;

}
.formTimeTable tr td{
  display: block;
  border: 1px solid black;
  height: 28px;
  text-align: center;
}
.spanLink {
  text-decoration: underline;
}

/*---- Absences ----*/
.Absence {
  border: 2px black solid;
  border-radius: 10px;
  width: 85%;
  margin: 25px auto;
  height: 500px;
}
.AbsencesBox {
  height: 430px;
}
.Absences {
  height: 400px;
  overflow-x: hidden !important;
}
.AbsencesHeader {
  width: 90%;
  height: 60px;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px black solid;
}
.AbsencesHeader h1{
  margin: 10px 0 1px 0;
}
.AbsencesHeader div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1px;
}
.AbsencesHeader div a{
  text-decoration: underline;
  color: black;
}
.Absent {
  width: 90%;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.AbsentLeftText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  text-align: left;
}
.WasMarked {
  align-self: center;
  margin: 0 !important;
}
/* Absences */